version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "0.0.0.0:80:80"
    env_file:
      - .env.development
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "0.0.0.0:5000:5000"
    env_file:
      - .env.development
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    ports:
      - "0.0.0.0:27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: 